APP_ENV =
APP_NAME =
APP_PORT =
DOCKER_SHARED_VOLUME_PATH=
# DATABASE ENVAIROMENTS
MONGO_SCHEME=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_NAME=

# JWT ENVAIROMENTS
JWT_ACCESS_SECRET = 
JWT_REFRESH_SECRET =
JWT_ACCESS_EXPIRATION =
JWT_REFRESH_EXPIRATION =